/*
    Reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


/*
 * Global
 */

body {
    font-size: .75em;
    background: black;
    color: white;
}

b, strong { font-weight: bold }
i, em { font-style: italic }

img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "abolition-soft", sans-serif;
    font-size: 1.25em;
    color: black;
    background-color: white;
    margin-bottom: .25em;
    vertical-align: middle;
    line-height: 1em;
    width: 85%;
    padding-left: .1em;
}

h1.light {
    color: white;
    font-size: 1.25em;
    background-color: black;
    line-height: 1em;
    width: 85%;
}

h1.free {
    color: black;
    background-color: transparent;
    line-height: 1em;
    width: 85%;
}

h2, h3 {
    font-family: "adelle", sans-serif;
    margin-bottom: .2em;

}

p {
  color: #black;
  font-family: "adelle", Georgia, 'Times New Roman', Times, serif;
  font-size: .5em;
  line-height: 1.25em;
  width: 85%;
  padding-left: .25em;
  padding-top: .135em;
}

.dark {
  color: black;
    font-size: .5em;
}

.highlighted {
    color: black;
      font-size: .5em;
    background-color: yellow;
  margin-bottom: .2em;
}

.lowlighted {
    color: white;
      font-size: .5em;
    background-color: black;
      margin-bottom: .2em;
}

.lowlightsmall {
    color: white;
      font-size: .4em;
    background-color: black;
      margin-bottom: .2em;
}

.nolighted {
    color: yellow;
      font-size: .5em;
      margin-bottom: .2em;
}

.blacklighted {
    color: black;
      font-size: .5em;
    background-color: none;
      margin-bottom: .2em;
}

.quote {
    color: white;
    font-size: .25em;
    line-height: 1.35em;
    background-color: black;
      padding-right: .25em;
      margin-bottom: .2em;
}

.sublist {
  color: yellow;
  font-family: 'adelle', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: .5em;
  line-height: 1.25em;
  width:75%;
  padding-left: .25em;
  padding-top: .135em;
  margin-left: -50px;
}

li {
  background-color: black;
  color: #999999;
  font-family: 'adelle', Georgia, 'Times New Roman', Times, serif;
  font-size: .5em;
  line-height: 1.25em;
  width: 75%;
  padding-left: .25em;
  padding-top: .135em;
  margin-left: 100px;
  list-style-type: none;

}

a.source {
    float: right;
    font-family: 'adelle', Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 20px;
    margin-top: 25px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 4px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}



/* Media Queries
========================================================================== */


@media only screen and (min-width: 100px){
  h1 {
      font-size: .75em;
         }
  p {
      font-size: .3em;

  }
  li {
      font-size: .3em;
      padding-left: 1em;
      margin-left: 2em;
      padding-top: .135em;
      width: 90%;

  }

  img { display: none; }


  .sublist {
      font-size: 3em;
      margin-left: 1em;
      padding-top: .135em;
      width: 90%;
  }
  .quote {
      font-size: .25em;
      line-height: 1.35em;
      }




@media only screen and (min-width: 500px){
  h1 {
           font-size: 1em;
         }
  p {
      font-size: .5em;
  }
  li {
      font-size: .5em;
      padding-left: .0015em;
      margin-left: 2em;
      padding-top: .135em;
      width: 90%;
  }

  .sublist {
      font-size: 2em;
      margin-left: 1em;
      padding-top: .135em;
      width: 90%;
  }
  .quote {
      font-size: .35em;
      line-height: 1.35em;
      }

}


@media only screen and (min-width: 750px){
  h1 {
           font-size: 2em;
         }

  p {
             font-size: .7em;
         }

         li {
             font-size: .5em;
             padding-left: .0015em;
             margin-left: 2em;
             padding-top: .135em;
             width: 70%;
         }
  .quote {
             font-size: .6em;
             line-height: 1.35em;
}
}


/*
 * Pig overrides
 */
div.slide {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: default;
    font-size: 70px;
    line-height: 100px;
    padding: 5%;
    position: relative;
    width: 100%;
}
