---
layout: default
---

<ul class="category-list" style="list-style: none;">
  {% for post in site.categories.[page.type] %}
    <li class="category-item">
      <a class="category-link" href="{{ site.url }}{{ post.url }}">
        <h2 class="post-title">{{ post.title }}</h2>
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        <time class="post-date">{{ page.date | date: "%B %d, %Y" }}</time>
        {% if post.image %}{% if post.image contains 'http' %}<img class="post-image" src="{{ post.image }}">{% else%}<img  class="post-image" src="{{ site.url }}/img/{{ post.image }}">{% endif %}{% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
