<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.owner.name }}">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <script src="//use.typekit.net/oue3xmm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <header class="site-header" role="banner">
      <nav class="site-nav">
        <div class="container">
          <ul class="site-nav-list">
            <li class="site-nav-item"><a class="site-nav-link{% if page.category == 'blog' or page.type == 'blog' or page.title == 'Home' %} is-active{% endif %}" href="{{ site.url }}">Blog</a></li>
            <li class="site-nav-item"><a class="site-nav-link{% if page.category == 'longform' or page.type == 'longform' %} is-active{% endif %}" href="{{ site.url }}/category/longform/">Writing</a></li>
            <li class="site-nav-item"><a class="site-nav-link{% if page.category == 'teaching' or page.type == 'teaching' %} is-active{% endif %}" href="{{ site.url }}/category/teaching/">Teaching</a></li>
            <li class="site-nav-item"><a class="site-nav-link {% if page.category == 'reading' or page.type == 'reading' %} is-active{% endif %}" href="{{ site.url }}/category/reading/">Reading</a></li>
            <li class="site-nav-item"><a class="site-nav-link {% if page.category == 'mapping' or page.type == 'mapping' %} is-active{% endif %}" href="{{ site.url }}/category/mapping/">Mapping</a></li>
            <li class="site-nav-item"><a class="site-nav-link{% if page.category == 'about' %} is-active{% endif %}" href="{{ site.url }}/about/">About</a></li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <a class="site-title" href="{{ site.url }}">{{ site.title }}</a>
        <img class="site-branding" src="/img/masthead.png">
        <p class="site-description">{{ site.description }}</p>
      </div>
    </header>

    <div class="main" role="main">
      <div class="container">
        {{ content | markdownify }}
      </div>
    </div>

    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <p class="copyright">© Copyright {{ site.owner.name }} 2010-{{ site.time | date: "%Y" }}</p>
      </div>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12735240-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
