<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.owner.name }}">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <header class="site-header" role="banner">
      <a class="site-title" href="/">{{ site.title }}</a>
      <p class="site-description">{{ site.description }}</p>
      <nav class="site-nav">
        <ul class="site-nav-list">
          <li class="site-nav-item"><a {% if page.category == 'blog' or page.type == 'blog' %}class="is-active" {% endif %} href="/blog/">Blog</a></li>
          <li class="site-nav-item"><a {% if page.category == 'reading' or page.type == 'reading' %}class="is-active" {% endif %} href="/reading/">Reading</a></li>
          <li class="site-nav-item"><a {% if page.category == 'longform' or page.type == 'longform' %}class="is-active" {% endif %} href="/longform/">Longform</a></li>
          <li class="site-nav-item"><a {% if page.category == 'teaching' or page.type == 'teaching' %}class="is-active" {% endif %} href="/teaching/">Teaching</a></li>
          <li class="site-nav-item"><a {% if page.title == 'About' %}class="is-active" {% endif %} href="/about/">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="main" role="main">
      {{ content | markdownify }}
    </div>

    <footer class="site-footer" role="contentinfo">
      <p class="copyright">© Copyright {{ site.owner.name }} 2010-{{ site.time | date: "%Y" }}</p>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12735240-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
