---
layout: default
---

{% if page.image %}
  {% if page.image contains 'http' %}
    {% assign imageurl = page.image %}
  {% else%}
    {% capture imageurl %}{{site.url}}/img/{{ page.image}}{% endcapture %}
  {% endif %}
{% endif %}

<article class="post {% if page.category %}{{ page.category }}{% endif %} single">
  <header class="post-header">
    <span class="post-meta"><time class="post-date">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.category %} <a class="post-category" href="{{ site.url }}/category/{{ page.category }}/">{{ page.category }}</a>{% endif %}</span>
    {% if page.image %}<img class="post-image" src="{{ imageurl }}">{% endif %}
    <h1 class="post-title">{% if post.category == 'reading'%}<em>{% endif %}{{ page.title }}{% if post.category == 'reading'%}</em>{% endif %}</h1>
    {% if page.subtitle %}<h3 class="post-subtitle">{{ page.subtitle }}</h3>{% endif %}
  </header>
  <div class="post-content">
    {{ page.content | markdownify }}
  </div>
</article>
